In [2]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('data_onkk.csv')
df.head()

,time,ID,pm25,lat,lon,SQRT_SEA_DEM_LAT,WSPD,WDIR,TMP,TX,TN,TP,RH,PRES2M
0,2020-01-01,19,116.949130,21.049750,105.741870,5.922647,1.136119,145.942749,20.811243,23.219995,18.939997,0.3750,74.750000,102197.203125
1,2020-01-01,79,105.103043,21.015250,105.800130,4.307231,1.136119,145.942749,20.811243,23.219995,18.939997,0.3750,74.750000,102197.203125
2,2020-01-01,163,118.285100,21.024347,106.017288,4.988467,0.651509,145.395233,20.677492,23.029993,18.879999,0.1250,73.687500,102228.796875
3,2020-01-01,300,116.739130,21.023532,105.853941,4.865087,1.136119,145.942749,20.811243,23.219995,18.939997,0.3750,74.750000,102197.203125
4,2020-01-02,19,76.856667,21.049750,105.741870,5.922647,2.744283,147.084442,22.176249,25.119989,20.299982,0.1875,78.012497,102025.328125

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11508 entries, 0 to 11507
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   time              11508 non-null  object
 1   ID                11508 non-null  int64
 2   pm25              11508 non-null  float64
 3   lat               11508 non-null  float64
 4   lon               11508 non-null  float64
 5   SQRT_SEA_DEM_LAT  11508 non-null  float64
 6   WSPD              11508 non-null  float64
 7   WDIR              11508 non-null  float64
 8   TMP               11508 non-null  float64
 9   TX                11508 non-null  float64
 10  TN                11508 non-null  float64
 11  TP                11508 non-null  float64
 12  RH                11508 non-null  float64
 13  PRES2M            11508 non-null  float64
dtypes: float64(12), int64(1), object(1)
memory usage: 1.2+ MB

In [20]:
df['time'] = pd.to_datetime(df['time'])
df.head()

,time,ID,pm25,lat,lon,SQRT_SEA_DEM_LAT,WSPD,WDIR,TMP,TX,TN,TP,RH,PRES2M
0,2020-01-01,19,116.949130,21.049750,105.741870,5.922647,1.136119,145.942749,20.811243,23.219995,18.939997,0.3750,74.750000,102197.203125
1,2020-01-01,79,105.103043,21.015250,105.800130,4.307231,1.136119,145.942749,20.811243,23.219995,18.939997,0.3750,74.750000,102197.203125
2,2020-01-01,163,118.285100,21.024347,106.017288,4.988467,0.651509,145.395233,20.677492,23.029993,18.879999,0.1250,73.687500,102228.796875
3,2020-01-01,300,116.739130,21.023532,105.853941,4.865087,1.136119,145.942749,20.811243,23.219995,18.939997,0.3750,74.750000,102197.203125
4,2020-01-02,19,76.856667,21.049750,105.741870,5.922647,2.744283,147.084442,22.176249,25.119989,20.299982,0.1875,78.012497,102025.328125

In [22]:
df_sorted = df.sort_values(by='time').reset_index(drop=True)
df_sorted.head(20)

,time,ID,pm25,lat,lon,SQRT_SEA_DEM_LAT,WSPD,WDIR,TMP,TX,TN,TP,RH,PRES2M
0,2020-01-01,19,116.949130,21.049750,105.741870,5.922647,1.136119,145.942749,20.811243,23.219995,18.939997,0.37500,74.750000,102197.203125
1,2020-01-01,79,105.103043,21.015250,105.800130,4.307231,1.136119,145.942749,20.811243,23.219995,18.939997,0.37500,74.750000,102197.203125
2,2020-01-01,163,118.285100,21.024347,106.017288,4.988467,0.651509,145.395233,20.677492,23.029993,18.879999,0.12500,73.687500,102228.796875
3,2020-01-01,300,116.739130,21.023532,105.853941,4.865087,1.136119,145.942749,20.811243,23.219995,18.939997,0.37500,74.750000,102197.203125
4,2020-01-02,19,76.856667,21.049750,105.741870,5.922647,2.744283,147.084442,22.176249,25.119989,20.299982,0.18750,78.012497,102025.328125
5,2020-01-02,51,108.432300,21.200344,105.948544,6.696101,2.814284,147.460495,22.162497,24.650019,20.200006,0.06250,75.200005,102017.726562
6,2020-01-02,52,57.683765,21.123247,106.288330,5.527568,2.872688,137.224884,21.944368,25.200006,19.629984,0.09375,76.131256,102015.328125
7,2020-01-02,53,74.366909,21.152745,106.111371,5.535270,2.763959,147.366074,22.137871,24.700018,20.157003,0.06250,75.206253,102010.562500
8,2020-01-02,62,69.755387,21.151807,106.151880,5.995299,2.311034,146.516235,21.916246,25.150019,19.769983,0.06250,75.262505,101946.125000
9,2020-01-02,66,117.386988,21.163853,105.923565,6.000813,2.814284,147.460495,22.162497,24.650019,20.200006,0.06250,75.200005,102017.726562
10,2020-01-02,71,103.150300,21.027221,106.034210,4.747565,2.491448,140.864319,21.931250,24.950006,20.010004,0.18750,78.662498,102057.929688
11,2020-01-02,79,64.280000,21.015250,105.800130,4.307231,2.744283,147.084442,22.176249,25.119989,20.299982,0.18750,78.012497,102025.328125
12,2020-01-02,155,91.362605,21.113745,105.926893,5.222925,2.523731,141.523941,21.954374,24.920008,20.029005,0.17500,78.316246,102053.906250
13,2020-01-02,156,119.441229,21.127574,105.950830,5.769516,2.652866,144.162415,22.046873,24.800013,20.105005,0.12500,76.931252,102037.828125
14,2020-01-02,157,81.650500,21.127740,105.889544,5.476497,2.652932,144.214966,22.057184,24.806509,20.113005,0.13125,76.963753,102021.906250
15,2020-01-02,158,53.549726,21.156077,106.222311,4.710004,2.311034,146.516235,21.916246,25.150019,19.769983,0.06250,75.262505,101946.125000
16,2020-01-02,160,69.973228,21.035398,106.102576,5.765338,2.491448,140.864319,21.931250,24.950006,20.010004,0.18750,78.662498,102057.929688
17,2020-01-02,162,119.389726,21.089142,105.990311,5.651733,2.491448,140.864319,21.931250,24.950006,20.010004,0.18750,78.662498,102057.929688
18,2020-01-02,163,90.108238,21.024347,106.017288,4.988467,2.491448,140.864319,21.931250,24.950006,20.010004,0.18750,78.662498,102057.929688
19,2020-01-02,300,61.375000,21.023532,105.853941,4.865087,2.744283,147.084442,22.176249,25.119989,20.299982,0.18750,78.012497,102025.328125

In [23]:
n = len(df_sorted)
train_end = int(n * 0.7)
dev_end = train_end + int(n * 0.15)

In [24]:
train_df = df_sorted.iloc[:train_end]
dev_df = df_sorted.iloc[train_end:dev_end]
test_df = df_sorted.iloc[dev_end:]

In [25]:
train_df.head()

,time,ID,pm25,lat,lon,SQRT_SEA_DEM_LAT,WSPD,WDIR,TMP,TX,TN,TP,RH,PRES2M
0,2020-01-01,19,116.949130,21.049750,105.741870,5.922647,1.136119,145.942749,20.811243,23.219995,18.939997,0.3750,74.750000,102197.203125
1,2020-01-01,79,105.103043,21.015250,105.800130,4.307231,1.136119,145.942749,20.811243,23.219995,18.939997,0.3750,74.750000,102197.203125
2,2020-01-01,163,118.285100,21.024347,106.017288,4.988467,0.651509,145.395233,20.677492,23.029993,18.879999,0.1250,73.687500,102228.796875
3,2020-01-01,300,116.739130,21.023532,105.853941,4.865087,1.136119,145.942749,20.811243,23.219995,18.939997,0.3750,74.750000,102197.203125
4,2020-01-02,19,76.856667,21.049750,105.741870,5.922647,2.744283,147.084442,22.176249,25.119989,20.299982,0.1875,78.012497,102025.328125

In [26]:
dev_df.head()

,time,ID,pm25,lat,lon,SQRT_SEA_DEM_LAT,WSPD,WDIR,TMP,TX,TN,TP,RH,PRES2M
8055,2021-04-20,157,20.263600,21.127740,105.889544,5.476497,4.399286,138.053894,26.350628,30.275007,23.150003,1.77500,84.553749,100647.929688
8056,2021-04-20,155,28.940354,21.113745,105.926893,5.222925,4.207975,138.482727,26.396254,30.560017,23.070011,1.16250,84.602493,100677.937500
8057,2021-04-20,52,25.230438,21.123247,106.288330,5.527568,4.838448,138.586884,26.156260,30.000010,23.150019,2.46875,85.137497,100669.000000
8058,2021-04-20,53,25.393342,21.152745,106.111371,5.535270,4.754337,138.263428,26.252502,29.829996,23.239996,2.70625,84.726250,100643.085938
8059,2021-04-20,60,18.372933,21.187340,106.074296,5.014936,4.731534,137.955399,26.250002,29.749994,23.249994,2.62500,84.849998,100647.703125

In [27]:
test_df.head()

,time,ID,pm25,lat,lon,SQRT_SEA_DEM_LAT,WSPD,WDIR,TMP,TX,TN,TP,RH,PRES2M
9781,2021-07-27,300,16.000000,21.023532,105.853941,4.865087,0.832665,315.608215,31.037508,36.150017,26.749994,3.31250,69.837502,99624.617188
9782,2021-07-27,157,24.157979,21.127740,105.889544,5.476497,0.431336,321.731995,30.485630,35.235004,26.700006,8.15625,73.519379,99621.992188
9783,2021-07-28,54,6.961150,21.031000,106.529100,4.236870,0.687786,59.893463,30.175001,32.849998,28.450006,11.81250,75.075005,99478.164062
9784,2021-07-28,19,20.842500,21.049750,105.741870,5.922647,0.693913,339.214447,31.200006,35.349998,28.550013,5.68750,69.250000,99606.562500
9785,2021-07-28,79,25.189565,21.015250,105.800130,4.307231,0.693913,339.214447,31.200006,35.349998,28.550013,5.68750,69.250000,99606.562500

In [28]:
train_df.to_csv("train.csv", index=False)
dev_df.to_csv("dev.csv", index=False)
test_df.to_csv("test.csv", index=False)

# Kiểm tra thời gian trong mỗi tập
print("Train:", train_df['time'].min(), "→", train_df['time'].max())
print("Dev:", dev_df['time'].min(), "→", dev_df['time'].max())
print("Test:", test_df['time'].min(), "→", test_df['time'].max())

Train: 2020-01-01 00:00:00 → 2021-04-19 00:00:00
Dev: 2021-04-20 00:00:00 → 2021-07-27 00:00:00
Test: 2021-07-27 00:00:00 → 2021-12-31 00:00:00